:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Encode Sans, Source Code Pro;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background-color: #232427;
  /* background-color: #333333; */
}